[submodule "vim-powerline"]
	path = vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim-ragtag"]
	path = vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-repeat"]
	path = vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "mustache.vim"]
	path = mustache.vim
	url = https://github.com/juvenn/mustache.vim.git
[submodule "vim-stylus"]
	path = vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "ack.vim"]
	path = ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "zencoding-vim"]
	path = zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
[submodule "MatchTag"]
	path = MatchTag
	url = https://github.com/gregsexton/MatchTag
[submodule "vizardry"]
	path = vizardry
	url = https://github.com/ardagnir/vizardry
[submodule "calendar"]
	path = calendar
	url = https://github.com/itchyny/calendar.vim
[submodule "vim-vinegar"]
	path = vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "gundo.vim"]
	path = gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim-jade"]
	path = vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "jshint2.vim"]
	path = jshint2.vim
	url = https://github.com/Shutnik/jshint2.vim
[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
