[submodule "vim-powerline"]
	path = vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim-ragtag"]
	path = vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-repeat"]
	path = vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "mustache.vim"]
	path = mustache.vim
	url = https://github.com/juvenn/mustache.vim.git
[submodule "vim-stylus"]
	path = vim-stylus
	url = https://github.com/wavded/vim-stylus.git
